p{
    color:#e98208;
    font-family: Orbitron;
    letter-spacing: 7px;
    position: relative;
}
.text-1{
    font-size:50px;
}
.text-2{
    font-size:60px;
}
.text-3{
    font-size:40px;
    margin: 0px 100px;
}